<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <style>

    </style>
  </head>
  <body>
    <div class='wrapper'>
      <header>File Uploader</header>
      <form action='#'>
        <input class='file-input' type='file' name='file' hidden />
        <i class='fas fa-cloud-upload-alt'></i>
        <p>Browse File to Upload</p>
      </form>
      <section class='progress-area'></section>
      <section class='uploaded-area'></section>
    </div>
    <script src="app.js">

    </script>
  </body>
</html>

  